{% extends "index.html" %}
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
            <h1 class="h2"><center>Book Appointment</center></h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>

          </div>
<form method ="post" action="url_for('bookappointmentscr')">
	<div class="form-row">
		<div class="col-md-4">
			
			<select class="custom-select" name="profession">
				{% for a in acc %}
					<option value="{{ a[0] }}" >{{ a[0] }}</option>
				{% endfor %}	
			</select>
			
		</div>
		<div class = "col-md-4">
			<input type="text" class="form-control" placeholder="Search" name="search">
		</div>	
		<!-- <div class = "col-md-4">
			<button type="submit" class="btn btn-success">Search</button>
		</div>	 -->
	</div>
</form>
<!------ Include the above in your HEAD tag ---------->
{% for item in data %}
<div class="container py-3">
	<!-- Card Start -->
	<div class="card" >
		<div class="row" >
			<div class="col-md-8" >
				<div class="card-block " style="padding-left:12px;">
					<br/>
					<h4 class="card-title h1">{{ "Dr. "~item['Name'] }}</h4>
					<p class="card-text h5">
						Qualification: 
						<ul>
							<li>
								{{ item['Qualification_1'] }}
							</li>
							<li>
								{{ item['Qualification_2'] }}
							</li>
							<li>
								{{ item['Qualification_3'] }}
							</li>
						</ul>	
						<!-- {{ item['Qualification_1']+","+item['Qualification_2']+","+item['Qualification_3'] }} -->
					</p>
					<p class="card-text h5">
						<!-- Specialization: {{ item['Specialization_1']+","+item['Specialization_2']+","+item['Specialization_3'] }} -->
						Specialization: 
						<ul>
							<li>
								{{ item['Specialization_1'] }}
							</li>
							<li>
								{{ item['Specialization_2'] }}
							</li>
							<li>
								{{ item['Specialization_3'] }}
							</li>
						</ul>	
					</p>
					<p class="card-text">
						Type: {{ item['Type'] }}
					</p>	
				<!-- 	<p class="card-text">	
						Date: {{ item['Start_Date']}}{{"  To  "}}{{ item['End_Date'] }}
					</p> -->
					<p class="card-text">	
						Time: {{ item['Start_Time'] }}{{"  To  "}}{{ item['End_Time'] }}
					</p>
					<br>

				</div>
			</div>
			<div class ="col-md-4 px-3">
				<br/>
				<button type="button" class="btn btn-info" data-toggle="collapse" data-target="{{ '#'+item['Email_ID'] }}">More Info</button>
				<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="{{ '#'+item['Email_ID']+'ba' }}">View Appointment</button>
			</div>	
			<!-- Carousel start -->
			<!-- End of carousel -->
		</div>
		<div id="{{ item['Email_ID'] }}" class="collapse">
			<div class="container">
				<p>
					Address: {{ item['Add_Line1']+","+item['Add_Line2']+","+item['Add_Line2'] }}
				</p>	
				<p>
					Landmark: {{ item['Landmark'] }} 
				</p>	
				<p>
					Area: {{ item['Area'] }} 
				</p>	
				<p>
					City: {{ item['City'] }} 
				</p>
				<p>	
					State: {{ item['State'] }} 
				</p>
			</div>
		</div>

		<div id="{{ item['Email_ID']+'ba' }}" class="collapse">
			<div class="container">
				<form method="post" action="{{ url_for('bookappointmentscr') }}">
					<div class="row">
						<div class="col">
							<input type="text" class="form-control" value="{{ item['Email_ID']}}" readonly="readonly" name="email">
						</div>
						<div class="col">
							<input type="date" class="form-control" id="Start_Date" placeholder="Start Date" name = "start_date"  min="{{ item['Start_Date'] }}" max="{{ item['End_Date'] }}"/>
						</div>
						<div class="col">
							<input type="time" class="form-control" id="end_time" name = "end_time" min="{{ item['Start_Time'] }}" max="{{ item['End_Time'] }}" />
						</div>
						<div class="col">
							<button type="submit" class="btn btn-success">Book Appointment</button>
						</div>
					</div>
				</form>
			</div>
		</div>
		<!-- End of card -->
	</div>
</div>
{% endfor %}

<br>
<br>
<br>
<div class="footer">

</div>
{% endblock %}	 
