<Html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Vini Paul">
  <meta name="author" content="Bhupender Thakur">
  <meta name="author" content="Madhav Parikh">

  <!-- USER RATINGS CSS!!!!! -->  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--Dashboard CSS-->
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <!-- jQuery library -->
  <script src="{{ url_for('static', filename='jq.js') }}"></script>
  <!-- Popper JS -->
  <script src="{{ url_for('static', filename='ppr.js') }}"></script>
  <!-- Latest compiled JavaScript -->
  <script src="{{ url_for('static', filename='bts.js') }}"></script>
  <!-- Multi DateTime Picker.CSS-->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  
  <script src="https://kit.fontawesome.com/1ab0ffdc89.js" crossorigin="anonymous"></script>

  
  
  <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet">

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" 
  href="{{ url_for('static',filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static',filename='favicon-16x16.png') }}">
  <link rel="manifest" href="/site.webmanifest">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>
  
</head>