{% extends "index.html" %}
{% block content %}
{{data }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
	<h1 class="h2"><center>Summary Reports  </center></h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	</div>
</div>
<div class="container">
	<form method="post" action="{{ url_for('manage_professionscr') }}">
		<div class="form-group">
			<label for="Enter Profession">Enter Profession</label>
			<input type="text" class="form-control" id="Enter Profession" placeholder="Enter Profession">
		</div>
		<button type="submit" name="insert" class="btn btn-primary">Submit</button>
	</form>
</div>	

<div class="container">
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Profession Type</th>
				<th scope="col">Update</th>
				<th scope="col">Delete</th>
			</tr>
		</thead>
		<tbody>
			<form method="post" action="{{ url_for('manage_professionscr') }}">
				{% for items in data %}
				<tr>
					<td>{{ items['Profession_Type_ID'] }}</td>
					<td>
						<input type="text" class="form-control" name="Profession_Type" value="{{items['Profession_Type'] }}" />
						
					</td>
					<td>
						<button type="submit" name="update" value="update" class="btn btn-primary">Update</button>
					</td>
					<td>
						<button type="submit" name="delete" update="delete" class="btn btn-danger">Delete</button>
					</td>
				</tr>
				{% endfor %}
			</form>
		</tbody>
	</table>
</div>
{% endblock %}