{% extends "index.html" %}
{% block content %}

<!--<form class="form-horizontal" method = "post" action = "{{ url_for('detailscr') }}">-->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
  <h1 class="h2"><center>Enter Personal Details</center></h1>
  <div class="btn-toolbar mb-2 mb-md-0">
  </div>

</div>

  <form method = "post" action = "{{ url_for('detailscr') }}">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Email">Name</label>
        <input type="text" class="form-control" id="Email" placeholder="Name" name = "name" value="{{ data[0]['Name'] }}">
      </div>
      <div class="form-group col-md-6">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" placeholder="Email" name = "emailid" value="{{ data[0]['Email_ID'] }}">
      </div>
      <div class="form-group col-md-4">
        <label for="DOB">DOB</label>
        <input type="DOB" class="form-control" id="DOB" placeholder="DOB" name = "dob" value="12-12-1991">
      </div>
      <div class="form-group col-md-4">
        <label for="Gender">Gender</label>
        <input type="Gender" class="form-control" id="Gender" placeholder="Gender" name = "Gender" value="Male">
      </div>

      <div class="form-group col-md-4">
        <label for="Mobile No.">Mobile No.</label>
        <input type="Mobile No." class="form-control" id="Mobile No." placeholder="Mobile No." name = "mno" value="{{ data[0]['Phone_No'] }}"/>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="PAN Card">PAN Card</label>
        <input type="text" class="form-control" id="PAN Card" placeholder="Apartment, studio, or floor" name = "addline2" value="{{ data[0]['PAN_Card'] }}" />
      </div>
      <div class="form-group col-md-6">
        <label for="GSTIN No.3">GSTIN No.</label>
        <input type="text" class="form-control" id="GSTIN No.3  " placeholder="Apartment, studio, or floor" name = "addline3" value="{{ data[0]['GSTIN_No'] }}" />
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Address" name = "addline1" value="{{ data[0]['Add_Line1'] }}"/>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Address2">Address 2</label>
        <input type="text" class="form-control" id="Address2" placeholder="Apartment, studio, or floor" name = "addline2" value="{{ data[0]['Add_Line2'] }}" />
      </div>
      <div class="form-group col-md-6">
        <label for="Address3">Address 3</label>
        <input type="text" class="form-control" id="Address3  " placeholder="Apartment, studio, or floor" name = "addline3" value="{{ data[0]['Add_Line3'] }}" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="Landmark">Landmark</label>
        <input type="text" class="form-control" id="Landmark" placeholder="Landmark" name = "landmark" value="{{ data[0]['Landmark'] }}" />
      </div>
      <div class="form-group col-md-6">
        <label for="Area">Area</label>
        <input type="text" class="form-control" id="Area" placeholder="Area" name = "area" value="{{ data[0]['Area'] }}" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity">City</label>
        <input type="text" class="form-control" id="inputCity" name = "city" value="{{ data[0]['City'] }}" />
      </div>
      <div class="form-group col-md-4">
        <label for="inputState">State</label>
        <select id="inputState" class="form-control" name="state">
          <option value="{{ data[0]['State'] }}" selected="selected">{{ data[0]['State'] }}</option>
          <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
          <option value="Andhra Pradesh">Andhra Pradesh</option>
          <option value="Arunachal Pradesh">Arunachal Pradesh</option>
          <option value="Assam">Assam</option>
          <option value="Bihar">Bihar</option>
          <option value="Chandigarh">Chandigarh</option>
          <option value="Chhattisgarh">Chhattisgarh</option>
          <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
          <option value="Daman and Diu">Daman and Diu</option>
          <option value="Delhi">Delhi</option>
          <option value="Goa">Goa</option>
          <option value="Gujarat">Gujarat</option>
          <option value="Haryana">Haryana</option>
          <option value="Himachal Pradesh">Himachal Pradesh</option>
          <option value="Jammu and Kashmir">Jammu and Kashmir</option>
          <option value="Jharkhand">Jharkhand</option>
          <option value="Karnataka">Karnataka</option>
          <option value="Kerala">Kerala</option>
          <option value="Lakshadweep">Lakshadweep</option>
          <option value="Madhya Pradesh">Madhya Pradesh</option>
          <option value="Maharashtra">Maharashtra</option>
          <option value="Manipur">Manipur</option>
          <option value="Meghalaya">Meghalaya</option>
          <option value="Mizoram">Mizoram</option>
          <option value="Nagaland">Nagaland</option>
          <option value="Orissa">Orissa</option>
          <option value="Pondicherry">Pondicherry</option>
          <option value="Punjab">Punjab</option>
          <option value="Rajasthan">Rajasthan</option>
          <option value="Sikkim">Sikkim</option>
          <option value="Tamil Nadu">Tamil Nadu</option>
          <option value="Tripura">Tripura</option>
          <option value="Uttaranchal">Uttaranchal</option>
          <option value="Uttar Pradesh">Uttar Pradesh</option>
          <option value="West Bengal">West Bengal</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="Pincode">Pincode</label>
        <input type="text" class="form-control" id="Pincode" name="pincode" value="{{ data[0]['Pincode'] }}" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputCity">Specialization</label>
        <select multiple id="inputState" class="form-control" name="specialization">
          <option>Cardiologist</option>
          <option>Hemtalogy</option>
          <option>Hepatology</option>
          <option>Infectious disease</option>
          <option>Oncology</option>
        </select>
        <span class="help-block">If, any changes please select all the options again</span>
      </div>          
      <div class="form-group col-md-4">
        <label for="inputState">Qualification</label>
        <select multiple id="inputState" class="form-control" name="qualification">
          <option>Bachelor of Medicine,Surgery(MBBS,BMBS,MBChB,MBBCh)
          </option>
          <option>Doctor of Medicine (MD, Dr.MuD, Dr.Med)</option>
          <option>Doctor of Osteopathic Medicine (DO)</option>>
          <option>Doctor of Medicine by research (MD(Res), DM)</option>
          <option>Doctor of Philosophy (PhD, DPhil)</option>
          <option>Master of Clinical Medicine (MCM)</option>
          <option>Master of Medical Science (MMSc, MMedSc)</option>
          <option>Master of Medicine (MM, MMed)</option>
        </select>
        <span class="help-block">If, any changes please select all the options again</span>
      </div>
      <div class="form-group col-md-4">
        <label for="Experience">Experience</label>
        <input type="text" class="form-control" id="Experience" name="experience" value="{{ data[0]['Experience'] }}">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update Details</button>
  </form>
  <!--  </form> -->
  {% endblock %}