{% extends "index.html" %}
{% block content %}
{{ data }}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
	<h1 class="h2">
		<center>
			Manage Qualification and Specialization 
		</center>
	</h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	</div>

</div>
<div class="container">
	<form>
		<div class="row">
			<div class="col">
				<label>Select Profession</label>
			</div>
			<div class="col">
				<label>Select Type</label>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<select class="custom-select" name="profession">
					<option selected>-- SELECT --</option>
					{% for items in data %}
					<option value="items['profession_type_id']">{{ items['profession_type'] }}</option>
					
					{% endfor %}
				</select>
			</div>
			<div class="col">
				<select class="custom-select" name="type">
					<option selected>-- SELECT --</option>
					<option value="specialization">Specialization</option>
					<option value="qualification">Qualification</option>
					
				</select>
			</div>
		</div><br/>
		{# <div class="row">
			<div class="col">
				<input type="text" class="form-control" placeholder="Enter">
			</div>
		</div> #}
		<div class="row">
			<div class="col">
				<label>Enter Details </label>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<input type="text" name="" class="form-control">
			</div>
		</div><br/>
		<div class="row">
			<div class="col">
				<input class="btn btn-primary" type="submit" value="Submit">
			</div>
		</div>
	</form>	
</div>
{% endblock %}