# Profession_Reports.html
{% extends "index.html" %}
{% block content %}
<style>
.feather-24{
    width: 24px;
    height: 24px;
}
@media print {
	@page
	{
		size: A4 portrait;
	}
  body * {
    visibility: hidden;

  }
  .prnt * {
  	visibility: hidden;
  }
  #cntnr * {
  	visibility: visible;
    position: relative;	
  }
  
}
</style>
<header>
<	
<!-- {% for item in data %}
{{ item['Name'] }}
{% endfor %}
{{ data }} -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
	<h1 class="h2"><center>Summary Reports  </center></h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	</div>

</div>

<div class="container" id="cntnr">
	<h3 style="text-align: center;">Summarised reports</h3>
	<p>
		
	</p>
	<button class="feather-24" data-feather="printer" onclick="window.print();return false;" value="print" id="prnt" style="float:right;">
	</button>
	<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Full Name</th>
				<th>No of Appointments</th>
				<th>Profession</th>
				<!-- <th>Profession</th> -->
			</tr>
		</thead>
		<tbody>
			 {% for item in data %}				
			<tr>
				<td>{{ item['Full Name'] }}</td>
				<td>{{ item['No of Appointments'] }}</td>
				<td>{{ item['Profession'] }}</td>
				
			</tr>
			{% endfor %} 
		</tbody>
	</table>

</div>
{# <div class="container">
	<p>
		<a href="{{ url_for('dreports') }}" class="btn btn-info" role="button">Generate Report</a>
		
	</p>
</div> #}
	
{% endblock %}	