# Profession_Reports.html
{% extends "index.html" %}
{% block content %}
<style>
	.feather-24{
		width: 24px;
		height: 24px;
	}
	@media print {
		@page
		{
			size: A4 portrait;
		}
		body * {
			visibility: hidden;

		}
		hr * { visibility: visible;  }
		#prnt * {
			visibility: hidden;
		}
		#cntnr * {
			visibility: visible;
			position: relative;	
		}
		#ph * {
			position: relative;	
			visibility: visible;
		}
		footer *{
			visibility: visible;
		}
	}
</style>
<script type="text/javascript">
	$(document).ready(function() {
    $('#example').DataTable();
		} );
</script>
<div class="container"  id ="ph" style="visibility: hidden;">
	<img src="{{url_for('static',filename='logo.jpg') }}" alt="..." class="img-thumbnail"
	style="width: 100px;height: 100px;">
	<div class="page-header">
		<center>
			<h1>OAMS</h1>      
		</center>
	</div>
	<div style="float: right;">
		{{ now }}
	</div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3  border-bottom">
	<h1 class="h2"><center>Summary Reports  </center></h1>
	<div class="btn-toolbar mb-2 mb-md-0">
	</div>

</div>

<div class="container" id="cntnr">
	<h3 style="text-align: center;">Summarised reports</h3>
	<hr style="visibility: hidden;">
	<p>
		
	</p>
	<button class="feather-24" data-feather="printer" onclick="window.print();return false;" value="print" id="prnt" style="float:right;">
	</button>
	<table class="table" id="example">
		<thead class="thead-dark">
			<tr>
				<th>Full Name</th>
				<th>No of Appointments</th>
				<th>Profession</th>
				<!-- <th>Profession</th> -->
			</tr>
		</thead>
		<tbody>
			{% for item in data %}				
			<tr>
				<td>{{ item['Full Name'] }}</td>
				<td>{{ item['No of Appointments'] }}</td>
				<td>{{ item['Profession'] }}</td>
				
			</tr>
			{% endfor %} 
		</tbody>
		<tfoot>
			<th>Full Name</th>
				<th>No of Appointments</th>
				<th>Profession</th>
		</tfoot>
	</table>

</div>
<div class="container">
	<p>
		<a href="#" class="btn btn-info" role="button">Download Report</a>
		
	</p>
</div>

<footer style="visibility: hidden;">
	<center>
		<h3>End - of - Report</h3>
	</center>
</footer>
{% endblock %}	